<!DOCTYPE html>
<html>
<body onload="getLocation()"> 


<p id="geo"></p>

<script>
var x = document.getElementById("geo");

function getLocation() {
        navigator.geolocation.getCurrentPosition(showPosition);
    } 

function showPosition(position) {
   var coords = position.coords
      console.log(coords)
   		return coords

}

</script>








<% @param = capture do %>
   <%= javascript_tag "document.write(showPosition());" %>
<% end %>


</body>
</html>
